<h1>Edit a Project</h1>

Projects List
<ul>
  <% @projects.each do |project| %>
  <li><%= project %></li>
  <% end %>
</ul>

Enter a project to edit:

<form action="/tasks/menu" method="post">
  <input type="text" name="project_name">
  <input type="submit">
</form>

<h3>The following commands are available</h3>
<ol>
<% print_project_menu.each do |option| %>
<li><%= option %></li>
<% end %>
</ol>

<form action="/menu" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>
