<h1>Edit a Project</h1>

Projects List
<ul>
  <% @projects.each do |project| %>
  <li><%= project %></li>
  <% end %>
</ul>

Select a project to edit:

<form action="/tasks/list" method="post">
  <select name="project_name">
    <% @projects.each do |project| %>
    <option value="<%= project.keys.join %>"><%= project.keys.join %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<%= erb(:menu_options_partial, :layout => false) %>
