<h1>Projects List</h1>

<% if !@projects.empty? %>
  <ol>
  <% @projects.each do |project| %>
    <% project.each do |title, tasks|  %>
      <li><h2><%= title %></h2></li>
      <% tasks.each do |task| %>
        <%= task %>
      <% end %>
    <% end %>
  <% end %>
  </ol>
<% else %>
  <h2> No Projects Saved Yet </h2>
<% end %>

<ol>
  <% print_project_menu.map.with_index do |menu_item, index| %>
    <li><a href="<%= print_menu_links[index] %>"><%= menu_item %></a></li>
  <% end %>
</ol>

