<h1>Projects List</h1>
<% if !@projects.empty? %>

  <% @projects.each do |project| %>
  <h2><%= project.name %></h2>
  <ol><li><%= project.tasks.join unless project.tasks.nil? %></li></ol>
  <% end %>

<% else %>
<h2> No Projects Saved Yet </h2>
<% end %>

<%= erb(:menu_options_partial, :layout => false) %>
