<h1>Projects List</h1>

<% if !file_read.empty? %>
  <ul>
  <% file_read.each do |project| %>
    <li><%= project %></li>
    <% end %>
  </ul>
<% else %>
  <h2> No Projects Saved Yet </h2>
<% end %>

<h3>The following commands are available</h3>
<ol>
  <% print_project_menu.each do |option| %>
  <li><%= option %></li>
  <% end %>
</ol>

<form action="/menu" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>

<%= params[:project_name] %>
