<h1>Welcome!</h1>
<h3>The following commands are available</h3>
<ol>
<% print_project_menu.each do |option| %>
<li><%= option %></li>
<% end %>
</ol>

<form action="/menu" method="post">
  <input type="text" name="message">
  <input type="submit">
</form>
