<h1>Create a new project</h1>
Enter a new project name:

<form action="/create" method="post">
  <input type="text" name="project_name">
  <input type="submit">
</form>


<ol>
  <% print_project_menu.map.with_index do |menu_item, index| %>
    <li><a href="<%= print_menu_links[index] %>"><%= menu_item %></a></li>
  <% end %>
</ol>

