<h1>Create a new project</h1>
Enter a new project name:

<form action="/create" method="post">
  <input type="text" name="project_name">
  <input type="submit">
</form>


<%= erb(:menu_options_partial, :layout => false) %>
