<h1>Pick a Project to Delete</h1>

<% if !@projects.empty? %>
  <ol>
  <% @projects.each do |project| %>
    <% project.each do |title, tasks|  %>
      <li><h2><%= title %></h2></li>
    <% end %>
  <% end %>
  </ol>
<% else %>
  <h2> No Projects Saved Yet </h2>
<% end %>

<form action="/remove" method="post">
  <input type="text" name="project_name">
  <input type="submit">
</form>


<%= erb(:menu_options_partial, :layout => false) %>
